$xxxl:38rpx;
$xxl:36rpx;
$xl:28rpx;
$l:24rpx;
$m:22rpx;
$s:20rpx;


$topFloor:9;
$middleFloor:8;
$bottomFloor:7;

$black:#333;
$lightBlack:#666;
$gray:#999;
$lightGray:#ccc;
$bg:#f2f2f2;
$white:#ffffff;

$themeColor:#0083ff;
$secondTC:#4db2ff;
$thirdTC:#aed6fd;

$green:#1ac6a4;
$lightGreen:#95d364;

$red: #ff390d;
$lightRed:#fc5b31;
$orange:#ff8924;
$yellow:#f9b337;

$radius: 4rpx;

$border:1rpx solid #E5E5E5;












